# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*

# Environment variables
.env
.env.*

# Build output
dist/
build/

# IDE/editor configs
.vscode/
.idea/

# Coverage reports
coverage/

# OS-specific
.DS_Store
Thumbs.db
