:root {
  --primary_color: rgb(208, 137, 230);
  --secondary-color: rgb(138, 58, 162);
  --secondary-color-dark: rgb(88, 11, 111);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 100%;
}
.container form {
  margin: 100px auto;
  width: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--primary_color);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.container form h1 {
  text-align: center;
  margin: 5px 0;
}

.container form input {
  padding: 9px;
  border-radius: 7px;
  border: none;
}
.container form input:focus {
  outline: none;
  border: 1px solid rgb(52, 20, 62);
}
.container form input::placeholder {
  text-transform: capitalize;
  padding-left: 5px;
  letter-spacing: 0.5px;
}

.container form button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
}
.container form button:hover {
  background-color: var(--secondary-color-dark);
  scale: 0.98;
}

.container .auth_form p {
  font-size: 13px;
  color: white;
  text-align: center;
}

.container .auth_form p span {
  color: rgb(52, 20, 62);
  cursor: pointer;
}

.container .auth_form p.error {
  color: rgb(227, 0, 45);
  font-size: 15px;
  position: relative;
  top: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

/* navbar */
.navbar {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: whitesmoke;
  align-items: center;
}
.nav_left {
  font-size: 28px;
  cursor: pointer;
}
.nav_right {
  display: flex;
  gap: 20px;
  font-size: 20px;
  height: 100%;
  width: 20%;
  justify-content: space-between;
  padding-right: 20px;
}
.nav_add_tweet {
  cursor: pointer;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_add_tweet:hover {
  background-color: var(--secondary-color-dark);
}
.nav_profile {
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  width: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* height: 30px; */
}
.nav_dropdown {
  position: absolute;
  background-color: var(--primary_color);
  right: 10px;
  top: 50px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.nav_dropdown ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.nav_dropdown ul li {
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: black;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav_dropdown ul li:hover {
  background-color: var(--secondary-color);
  color: whitesmoke;
}

/* profile */
.profile_head {
  background-color: var(--primary_color);
  width: fit-content;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  margin: 50px auto;
  width: 80%;
  max-width: 400px;
}
/* each row (one field) */
.profile_head_row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Title like "name", "email" */
.profile_head_title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  /* width: 50; */
  width: 100px; /* Fix width so all start same place */
}

/* Colon */
.profile_head_colon {
  margin: 0 10px;
  font-weight: 800;
}

/* Value like "John Doe" */
.profile_head_value {
  font-size: 18px;
  font-weight: 400;
}

/* profile tweets */
.profile_tweets {
  margin-top: 0px;
  text-align: center;
}

.profile_tweets_title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px 0;
}
.profile_tweets_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile_tweet_item {
  padding: 20px 20px 10px 20px;
  background-color: var(--secondary-color);
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 18px;
  /* position: relative; */
  min-width: 200px;
}
.profile_tweet_item .content {
  display: flex;
  justify-content: start;
}
.profile_tweet_item .divider {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 12px 0;
  height: 1px;
  background-color: rgb(255, 255, 255);
}
.profile_tweet_item .cta {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  /* position: relative; */
  left: 10px;
  /* background-color: aliceblue; */
}
.profile_tweet_item .cta button {
  font-size: 17px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2 ease;
}
.profile_tweet_item .cta button:hover {
  background-color: var(--secondary-color-dark);
}

/* dialog from  */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.dialog {
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80%;
  max-width: 400px;
}
.dialog .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog .cta button {
  background-color: rgb(202, 115, 115);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dialog .cta button:hover {
  background-color: crimson;
  color: whitesmoke;
}
.dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  /* justify-content: center; */
}
.dialog form textarea {
  width: 95%;
  padding: 10px;
  margin: 0 10px;
  border-radius: 7px;
  border: 1px solid black;
  min-height: 100px;
  font-size: 18px;
  resize: none;
}
form button {
  width: 70px;
  height: 40px;
  background-color: var(--secondary-color);
  color: whitesmoke;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
